@font-face {
    font-family: "IANSUI";
    src: URL("../Iansui-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.calendar-container {
    overflow: hidden;
    max-width: 100%;
    overflow-x: auto;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
table {
    transform-origin: top left;
    table-layout: fixed;
    width: max-content;
    min-width: 100%;
    border-collapse: collapse;
    font-family: "IANSUI";
    height: 170px;
}

th,
td {
    font-size: 15px;
    padding: 12px;
    text-align: center;
    border: 1px solid #2c3e50;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

th {
    background-color: #2c3e50;
    color: #ffffff;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 1;
}

.date {
    background-color: #2c3e50;
    color: #ffffff;
    font-weight: 600;
    position: sticky;
    left: 0;
    z-index: 2;
    width: 30%;
}

.date:hover {
    background-color: #34495e;
}

.null {
    background-color: #e9ecef;
}

.null:hover {
    background-color: #e9ecef;
}

td:hover {
    background-color: #d1d8e5;
}

@media screen and (max-width: 768px) {
    .calendar-container {
        font-size: 14px;
    }

    th,
    td {
        padding: 8px;
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .calendar-container {
        font-size: 12px;
    }

    th,
    td {
        padding: 6px;
        font-size: 10px;
    }
}
