/*
	section start
*/
.section {
    height: 100%;
    padding: 5rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.s-title {
    font-size: 25px;
}
.title {
    font-size: 35px;
}

@media screen and (max-width: 72em) {
    .section {
        padding: 5rem 1rem;
    }
    .title {
        font-size: 25px;
    }
}
/*
	section end
*/

.video {
    width: 100%;
    height: 56%;
}

@media screen and (max-width: 72em) {
    .video {
        align-items: center;
        height: 550px;
    }
}
