/*
	section start
*/
.section {
    min-height: 100%;
    padding: 5rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.subtitle {
    font-size: 25px;
    font-weight: bold;
    margin: 25px 0px 25px 0px;
}
.title {
    margin: 35px 0px 35px 0px;
    font-size: 65px;
}

.content {
    margin: 25px 0px 25px 0px;
    font-size: 20px;
}

@media screen and (max-width: 72em) {
    .section {
        padding: 5rem 1rem;
    }
    .title {
        font-size: 25px;
    }
}
/*
section end
*/

.video {
    width: 100%;
    height: auto;
    min-height: 550px;
}

@media screen and (max-width: 72em) {
    .video {
        align-items: center;
        height: 550px;
    }
}
